*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    background-image: url(/img/estadio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.card{
    padding: 32px 23px;
    text-align: center;
    background-color: black;
    border-bottom: 2px solid #047c3f;
    border-radius: 6px;
}
.card h2{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 8px 16px;
    border: 1px solid #047c3f;
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: gold;
}
.card h2 span{
    color: azure;
    font-size: 14px;
    text-transform: uppercase;
}
.card ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}
img{
    width: 60px;
    height: 60px;
}
.card ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}